*{
    font-family: 'Roboto', sans-serif;  
}
.main{
    margin-top: 5em; 
}
h3{
    color: #99aab5;
}
h1{
    color: #ffffff;
}
body { 
  background: #23272a no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.well{
    background: transparent;
    border:none;
}
textarea{
    resize: none
}

.spin {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}